@include mobile-ui {
    .logo {
        flex-direction: column;
        top: 3%;
        position: relative;
    }
    .access-form {

        width: calc(100%);

        .access {
            margin-top: 15%;
            margin-left: 10px;
            margin-right: 10px;

            .sign-in-form {

                margin-top: 50px;
            }
            
        }
    }
    .nft-img {
        visibility: hidden;
    }
}

@include tablet-ui {

    .access-form {

        .logo {
            flex-direction: row;
        }

        width: calc(50%);

        .access {
            margin-top: 10%;
            margin-left: 10%;
            margin-right: 10%;
            .sign-in-form {
                margin-top: 30px;
            }
        }
    }
    .nft-img {
        visibility: visible;
        margin: 0%;
        margin: 20px 20px 25px 0px;
    }
}

@include desktop-ui {

    .access-form {

        .logo {
            flex-direction: row;
        }

        width: calc(50%);

        .access {
            margin-top: 10%;
            margin-left: 20%;
            margin-right: 20%;

            .sign-in-form {
                margin-top: 50px;
            }
        }
    }
    .nft-img {
        visibility: visible;
        margin: 0%;
        margin: 20px 20px 25px 0px;
    }
}


@include monitor-ui {

    .access-form {

        .logo {
            flex-direction: row;
        }

        width: calc(50%);

        .access {
            margin-top: 10%;
            margin-left: 25%;
            margin-right: 27%;

            .sign-in-form {
                margin-top: 50px;
            }
        }
    }
    .nft-img {
        visibility: visible;
        margin: 0%;
        margin: 20px 20px 25px 0px;
    }
}