$primaryColor: #5429FF;
$secondaryColor: #344054;
$primaryAccentColor: #D0D5DD;
$secondaryAccentColor: #667085;
$bgColor: #CBCCE8;
$blackColor: #000000;
$whiteColor: #FFFFFF;

$fontFamily: 'Inter';
$fontStyle: normal;

$headlineFontWeight: 700;
$text1FontWeight: 400;
$text2FontWeight: 500;

$headlineFontSize: 40px;
$text1FontSize: 16px;
$text2FontSize: 14px;

$headlineLineHeight: 48px;
$text1LineHeight: 24px;
$text2LineHeight: 20px;